<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="footer">
        <script th:inline="javascript">
            $(function () {
                let uri = "/" + /*[[${nowUri}]]*/ + "";
                if (uri != null & uri != "") {
                    //找到li
                    let $retObj = $("#sidebarOfCommon").find('li a[href="' + uri + '"]');
                    console.log($retObj);

                    $retObj.parent().addClass("active");
                    $retObj.parent().parent().parent().addClass("nav-active");

                }
            });
        </script>
    </div>
</body>

</html>